.group:after,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

#modal a,b,dfn,dl dt,h1,h2,h3,h4,h5,h6,strong,th {
  font-weight: 700;
}

.mm-divider>span,.mm-listview .mm-divider,.mm-listview>li>a,.mm-listview>li>span,.mm-navbar .mm-breadcrumbs,.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mfp-wrap,.owl-carousel .owl-item,.owl-carousel .owl-video-play-icon {
  -webkit-backface-visibility: hidden;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

blockquote,q {
  quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none;
}

.group:after {
  content: "";
  clear: both;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote,ol,ul {
  margin: 0 1.5em 1.5em;
}

address,code,dl,kbd,p,pre {
  margin: 0 0 1.5em;
}

.mm-wrapper,body {
  overflow-x: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

#modal,.content,.content:after,body,footer,footer .ticker,h1,h2,h3,h4,html {
  display: block;
}

html {
  box-sizing: border-box;
}

*,:after,:before {
  box-sizing: inherit;
}

code,pre,tt {
  font: 1em/1.5em 'Andale Mono','Lucida Console',monospace;
}

#page,blockquote,h1 {
  line-height: 1.25;
}

cite,dfn,em,i,tfoot {
  font-style: italic;
}

blockquote {
  font-size: 1.25em;
}

li ol,li ul {
  margin: 0 1.5em;
}

ol,ul {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

dd {
  margin-left: 1.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.4em;
  width: 100%;
}

caption,td,th {
  padding: 4px 10px 4px 5px;
}

sub,sup {
  line-height: 0;
}

abbr,acronym {
  border-bottom: 1px dotted;
}

address {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

img {
  border: none;
}

body,h1,h2,h3,h4,h5,h6 {
  font-size-adjust: .5;
}

#page {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  line-height: 1.15384615;
  font-size: 1.5em;
  margin: .83em 0;
}

h3 {
  line-height: 1.13636364;
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin: 1.33em 0;
}

input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill {
  background: #fff!important;
}

body#debug:before {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: .6em;
  margin: 0;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
}

@font-face {
  font-family:'League Gothic';src:url(../fonts/league-gothic/LeagueGothic-Regular.eot);src:url(../fonts/league-gothic/LeagueGothic-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/league-gothic/LeagueGothic-Regular.woff2) format("woff2"),url(../fonts/league-gothic/LeagueGothic-Regular.woff) format("woff"),url(../fonts/league-gothic/LeagueGothic-Regular.ttf) format("truetype");font-weight:400;font-style:normal;
}

@font-face {
  font-family:'League Gothic Condensed';src:url(../fonts/league-gothic/LeagueGothic-CondensedRegular.eot);src:url(../fonts/league-gothic/LeagueGothic-CondensedRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/league-gothic/LeagueGothic-CondensedRegular.woff2) format("woff2"),url(../fonts/league-gothic/LeagueGothic-CondensedRegular.woff) format("woff"),url(../fonts/league-gothic/LeagueGothic-CondensedRegular.ttf) format("truetype");font-weight:400;font-style:normal;
}

@font-face {
  font-family:'League Gothic Italic';src:url(../fonts/league-gothic/LeagueGothic-Italic.eot);src:url(../fonts/league-gothic/LeagueGothic-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/league-gothic/LeagueGothic-Italic.woff2) format("woff2"),url(../fonts/league-gothic/LeagueGothic-Italic.woff) format("woff"),url(../fonts/league-gothic/LeagueGothic-Italic.ttf) format("truetype");font-weight:400;font-style:italic;
}

@font-face {
  font-family:'League Gothic Condensed Italic';src:url(../fonts/league-gothic/LeagueGothic-CondensedItalic.eot);src:url(../fonts/league-gothic/LeagueGothic-CondensedItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/league-gothic/LeagueGothic-CondensedItalic.woff2) format("woff2"),url(../fonts/league-gothic/LeagueGothic-CondensedItalic.woff) format("woff"),url(../fonts/league-gothic/LeagueGothic-CondensedItalic.ttf) format("truetype");font-weight:400;font-style:italic;
}

body,html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background: #fff;
}

a,a:link {
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.wrapper {
  max-width: 1160px;
  min-height: 100px;
  margin: 20px auto;
  display: block;
}

.content {
  max-width: 100%;
  min-height: 400px;
  margin: 40px 0;
}

#modal,.text {
  min-height: 200px;
}

.content:after {
  content: " ";
  clear: both;
}

footer {
  width: 100%;
  margin: 20px 0 50px;
}

footer .ticker {
  width: 100%;
  height: 50px;
  border-top: 2px solid #391E4A;
  padding-top: 5px;
}

#modal {
  width: 40vw;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
}

#modal p {
  line-height: 1.5em;
}

#modal a {
  text-decoration: none;
  color: #391E4A;
}

#modal .buttons a,nav.main ul a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#modal .buttons {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px 0;
}

nav.main,nav.main ul li {
  height: 44px;
  display: block;
}

#modal .buttons a {
  background: #391E4A;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  border-radius: 2px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

#modal .buttons a:last-child {
  margin-right: 0;
}

#modal .buttons a:hover {
  background: #DBC500;
}

nav.main {
  width: 100%;
}

nav.main ul {
  display: block;
  margin: 0;
}

nav.main ul li {
  float: left;
  width: 20%;
  position: relative;
}

nav.main ul li:after {
  content: '';
  display: block;
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 1px;
  background: #fff;
}

nav.main ul li:last-child:after {
  display: none;
}

nav.main ul a {
  background: #391E4A;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 1.25em;
  padding: 0;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

nav.main ul a:hover {
  background: rgba(219,197,0,.5);
  color: #391E4A;
}

nav.main ul a em {
  font-style: normal;
  text-transform: none;
}

nav.main ul span.arrow {
  display: block;
  height: 44px;
  width: 18px;
  background: url(../webimages/arrow-down-white.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 3%;
}

nav.main ul ul.sub {
  display: none;
  width: 100%;
  height: auto;
  background: red;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  box-shadow: -2px 2px 4px rgba(0,0,0,.25);
  border-top: 5px solid #DBC500;
}

nav.main ul ul.sub li {
  width: 100%;
  height: auto!important;
  float: none;
}

nav.main ul ul.sub li:after {
  display: none;
}

nav.main ul ul.sub li a {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .85em;
  text-align: left;
  padding: 7px 14px;
  box-sizing: border-box;
  height: 100%;
  line-height: normal;
  border-bottom: 1px solid #D3D3D3;
}

.sidebar .etfLink,.sidebar .mission h2,.sidebar .textBox strong {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

nav.main ul ul.sub li a:hover {
  background: #DBC500;
  color: #fff;
}

nav.main ul a:hover+ul.sub,nav.main ul ul.sub:hover {
  display: block;
}

nav.main .mobileNavLink {
  height: 44px;
  line-height: 46px;
  width: auto;
  float: left;
  position: relative;
  padding-left: 44px;
  margin-left: 2%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  display: none;
  background: #391E4A;
}

nav.main .mobileNavLink img {
  max-height: 100%;
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
}

nav#menu.pageLoad {
  visibility: none;
  display: none;
}

header+nav.main li:after {
  background: #000;
}

header+nav.main a {
  background: #fff;
  color: #000;
}

header+nav.main span.arrow {
  background: url(../webimages/arrow-down-black.svg) center center no-repeat;
  background-size: contain;
}

header+nav.main ul.sub a:hover {
  background: #D3D3D3!important;
  color: #000!important;
}

.sidebar {
  display: block;
  width: 30%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}

.sidebar img {
  max-width: 100%;
  display: block;
}

.sidebar .logo {
  display: block;
  margin: 0 0 30px;
}

.sidebar .mission {
  text-align: center;
  background: #e0e0e0;
  box-sizing: border-box;
  padding: 18px;
  margin: 0 0 30px;
}

.sidebar .mission h2 {
  font-size: 2.2em;
  margin: 0 0 5px;
}

.sidebar .mission p {
  display: inline-block;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.sidebar .mission .leaf {
  display: block;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center center!important;
}

.sidebar .etfLink {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 2.2em;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.sidebar .etfLink img {
  display: block;
  margin: 0 auto;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.sidebar .etfLink:hover {
  color: #8A7A94;
}

.sidebar .etfLink:hover img {
  opacity: .5;
}

.sidebar .etfLink:focus {
  outline: 0;
}

.sidebar .textBox {
  margin: 20px 0 0;
  float: left;
}

.sidebar .textBox p {
  margin: 0 0 10px;
}

.sidebar .textBox strong {
  color: #DBC500;
  font-size: 2.3em;
}

.sidebar .emailForm h3,.sidebar .textLink {
  font-weight: 400;
  font-size: 2.4em;
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.sidebar .textBox ul {
  display: block;
  margin: 10px 0 0;
}

.sidebar .textBox ul li {
  display: block;
  width: 100%;
  margin: 0 0 10px;
}

.sidebar .textLink {
  background: #e0e0e0;
  color: #DBC500;
  text-decoration: none;
  padding: 10px;
  display: block;
  margin: 0 0 30px;
}

.sidebar .emailForm {
  width: 100%;
  background: rgba(219,197,0,.5);
  padding: 20px;
  box-sizing: border-box;
}

.sidebar .emailForm h3 {
  color: #391E4A;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.sidebar .emailForm p {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: .8em;
  line-height: 1.5em;
  padding: 0 3%;
  box-sizing: border-box;
}

.sidebar .emailForm label {
  width: 100%;
  display: block;
  color: #391E4A;
  font-size: .7em;
  font-weight: 700;
  margin: 0 0 3px;
}

.sidebar .emailForm input {
  width: 100%;
  height: 34px;
  padding: 0 12px;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #D3D3D3;
  margin: 0 0 15px;
  border-radius: 2px;
}

.sidebar .emailForm button,.sidebar .emailForm input[type=submit] {
  background: #391E4A;
  width: auto;
  height: auto;
  display: inline-block;
  color: #fff;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  outline: 0;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.carousel>a.noSlide,.carousel>img {
  border-bottom: 4px solid #DBC500;
}

.sidebar .emailForm button:hover,.sidebar .emailForm input[type=submit]:hover {
  opacity: .9;
}

.sidebar .mapLink {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.sidebar .mapLink a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.homeBanner,.homeBanner a {
  -webkit-transition: .2s all ease-in-out;
}

.sidebar .mapLink a:hover {
  opacity: .75;
}

.sidebar .mapLink a:focus {
  outline: 0;
}

.sidebar .mapLink p {
  width: 100%;
  display: block;
  font-style: italic;
  text-align: center;
  font-size: .8em;
  color: rgba(0,0,0,.5);
}

.homeBanner {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background: #B20837;
  display: block;
  box-shadow: 0 1px 4px rgba(0,0,0,.5);
  transition: .2s all ease-in-out;
  margin: 0 0 30px;
}

.homeBanner.offScreen {
  margin-top: -60px;
  box-shadow: none;
}

.homeBanner .center {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.homeBanner p {
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  font-size: .85em;
  line-height: 1.3em;
}

.homeBanner a {
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
  transition: .2s all ease-in-out;
}

.homeBanner a:hover,header h1 {
  color: #DBC500;
}

.homeBanner a.close {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #DBC500;
  top: 0;
  right: 5px;
  padding: 3px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.homeBanner a.close:hover {
  background: #f5dc00;
}

.homeBanner a.close img {
  max-width: 100%;
  display: block;
}

.carousel {
  width: 100%;
  height: auto;
  display: block;
}

.carousel .slides a,.carousel .slides span,.carousel>a.noSlide {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel>img {
  display: block;
  max-width: 100%;
}

.carousel>a.noSlide img {
  max-width: 100%;
  display: block;
}

.carousel .slides {
  display: block;
}

.carousel .slides a {
  background: #00f;
}

.carousel .sliderNav {
  width: 100%;
  height: 24px;
  display: block;
  background: #DBC500;
}

.carousel .sliderNav .pagination {
  height: 24px;
  width: auto;
  float: left;
  margin: 0 0 0 1%;
}

.carousel .sliderNav .pagination div {
  float: left;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 8px 0 0;
}

.carousel .sliderNav .pagination div span {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #464646;
  display: block;
  margin-top: 6px;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  cursor: pointer;
}

.carousel .sliderNav .pagination div span:hover {
  background: #fff;
}

.carousel .sliderNav .pagination div.active span {
  background: #000;
}

.carousel .sliderNav .navigation {
  height: 100%;
  width: auto;
  float: right;
  margin: 0 .5% 0 0;
}

.carousel .sliderNav .navigation a {
  height: 24px;
  width: 20px;
  display: block;
  float: left;
  background-position: center center!important;
  text-indent: -9999px;
}

.emailLink,header {
  background: #391E4A;
}

.featuredText {
  width: 30%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}

.featuredText h2 {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 0;
}

.featuredText h2 em {
  font-style: normal;
  color: #DBC500;
}

.featuredText p {
  float: left;
  display: inline-block;
  font-size: 1em;
  line-height: 1.6em;
}

.featuredText p img {
  float: right;
  display: block;
  clear: left;
  margin: 0 0 1% 2%;
}

.featuredText p img.alignright {
  float: right;
}

.featuredText p img.alignleft {
  float: left;
}

header {
  width: 100%;
  height: 106px;
  position: relative;
}

header .logo {
  float: left;
  height: 100%;
  width: 380px;
  margin: 0 0 0 3%;
  display: block;
  background-repeat: no-repeat!important;
  background-position: left center!important;
  background-size: contain!important;
}

header h1 {
  float: right;
  line-height: 106px;
  margin: 0 3% 0 0;
  text-align: right;
  font-size: 4.2em;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.management .bio h3,.text h2 {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #391E4A;
}

.text,.text.full {
  margin-left: 1.66667%;
  margin-right: 1.66667%;
  float: left;
}

.cityLinks a,.emailLink,.grayBox h2 {
  text-align: center;
}

header h1.lower {
  text-transform: none;
}

.text {
  width: 63.33333%;
  display: block;
}

.text.full {
  width: 96.66667%;
}

.text h2 {
  font-size: 2.4em;
  text-transform: uppercase;
  border-bottom: 3px solid #391E4A;
  line-height: 1.1em;
  margin: 0 0 10px;
}

.text h2.lower {
  text-transform: none;
}

.companies .header,.grayBox h2,.mm-listview .mm-divider,h2.company {
  text-transform: uppercase;
}

.text p {
  font-size: 1em;
  line-height: 1.6em;
}

.text img {
  max-width: 100%;
  display: block;
}

.text iframe {
  max-width: 100%;
}

.management {
  display: block;
  margin: 30px 0;
}

.management .bio img {
  float: left;
  display: block;
  margin: 0 10px -5px 0;
}

.management .bio h3 {
  font-size: 2.4em;
  margin: 0;
}

.management .bio a.email,.management .bio h4 {
  font-size: 1.4em;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
}

.management .bio h4 {
  color: #000;
  margin: 0 0 2px;
}

.management .bio a.email {
  color: #DBC500;
  text-decoration: none;
  margin: 0 0 10px;
  display: inline-block;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.newsList .newsItem .desc a,.newsList .newsItem .title {
  -webkit-transition: .2s all ease-in-out;
  text-decoration: none;
}

.management .bio a.email:hover {
  color: #D3D3D3;
}

.newsList {
  display: block;
}

.newsList .newsItem {
  display: block;
  width: 100%;
  margin: 10px 0 20px;
  padding: 20px 30px 40px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #391E4A;
}

.newsList .newsItem:last-child {
  border-bottom: none;
}

.newsList .newsItem .title {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7em;
  color: #DBC500;
  margin: 0 0 20px;
  display: block;
  transition: .2s all ease-in-out;
  max-width: 80%;
  position: relative;
}

.newsList .newsItem .title:hover {
  color: #D3D3D3;
}

.newsList .newsItem .title span {
  position: absolute;
  top: 0;
  left: 106%;
}

.newsList .newsItem .source {
  font-style: italic;
  font-size: .85em;
}

.newsList .newsItem .desc p {
  line-height: 1.5em;
}

.newsList .newsItem .desc a {
  color: #DBC500;
  transition: .2s all ease-in-out;
}

.newsList .newsItem .desc a:hover {
  color: #D3D3D3;
}

.newsList .newsItem .readMore {
  color: #DBC500;
  font-style: italic;
  text-decoration: none;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  border-bottom: 1px solid transparent;
  font-size: .9em;
}

.contactInfo .contact .contactLinks a,.contactInfo .contact h3 {
  font-size: 1.4em;
  font-style: normal;
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
}

.newsList .newsItem .readMore:hover {
  border-bottom: 1px solid #DBC500;
}

.emailLink {
  width: 100%;
  height: 68px;
  display: block;
}

.emailLink h2 {
  color: #fff;
  height: 68px;
  line-height: 70px;
  border-bottom: none;
  display: inline-block;
  position: relative;
}

.emailLink h2 img {
  max-height: 60%;
  display: inline-block;
  position: absolute;
  top: 18%;
  right: 90%;
}

.contactInfo {
  display: block;
  width: 100%;
  padding-top: 30px;
}

.contactInfo .contact {
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  margin-bottom: 30px;
}

.contactInfo .contact img {
  width: 30%;
  float: left;
  margin: 0 10px 0 0;
}

.contactInfo .contact h3 {
  display: block;
  margin: 5px 0 0;
}

.contactInfo .contact h4 {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  margin: 0 0 5px;
}

.contactInfo .contact .contactLinks {
  display: block;
  width: 100%;
  height: 30px;
}

.contactInfo .contact .contactLinks a {
  color: #DBC500;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  line-height: 32px;
  height: 30px;
  display: inline-block;
}

.contactInfo .contact .contactLinks a:first-child {
  margin-right: 12px;
}

.contactInfo .contact .contactLinks a:first-child:after {
  content: '';
  display: block;
  height: 30px;
  width: 3px;
  background: #000;
  position: absolute;
  top: 0;
  right: -9px;
}

.grayBox {
  display: block;
  background: #D3D3D3;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.grayBox h2 {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4em;
  width: 100%;
  display: block;
  margin: 0 0 5px;
}

.grayBox p strong em {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 10px;
  font-style: italic;
}

.grayBox p {
  line-height: 1.4em;
  margin-bottom: 10px;
}

.grayBox ul {
  display: block;
  padding-left: 6%;
}

.grayBox ul li {
  list-style: none;
  position: relative;
  margin-bottom: 5px;
  line-height: 1.4em;
}

.grayBox ul li:before {
  content: '\2022';
  font-size: 17px;
  position: absolute;
  top: 0;
  left: -12px;
}

.grayBox p+ul {
  margin-top: -5px;
}

.cityLinks {
  width: 100%;
  min-height: 160px;
}

.cityLinks a {
  width: 20%;
  float: left;
  background: #00f;
  box-sizing: border-box;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  position: relative;
}

.cityLinks a img {
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  display: block;
}

.cityLinks a:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0);
  z-index: 2;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.cityLinks a:hover:before {
  background: rgba(255,255,255,.15);
}

h2.company {
  font-family: "League Gothic",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  margin: 30px 0 10px;
}

.companies {
  display: block;
  position: relative;
}

.companies .row {
  width: 100%;
  display: block;
  margin-bottom: 4px;
}

.companies .left {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: right;
}

.companies .right {
  width: 76%;
  float: right;
  display: inline-block;
}

.companies .left,.companies .right {
  font-size: .9em;
  line-height: 1.2em;
}

.companies .header {
  border-bottom: 1px solid #000;
  display: block;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

.news .news-content p:last-child,.news h2 {
  margin-bottom: 0;
}

.companies .header span {
  font-weight: 700;
  font-size: .9em;
}

.companies .lineVert {
  position: absolute;
  top: 0;
  left: 21.5%;
  height: 100%;
  width: 1px;
  background: #000;
}

.mm-wrapper,.news {
  position: relative;
}

.news {
  display: block;
  margin-top: 30px;
}

.news .news-content {
  background: rgba(211,211,211,.3);
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.news .news-content p {
  font-size: .95em;
  line-height: 1.5em;
}

[class^=chart-] {
  display: block;
  margin-bottom: 40px;
}

[class^=chart-] iframe {
  width: 100%;
}

[class^=chart-] h2 {
  font-size: 1.8em;
  color: #000;
  margin: 0;
  border-bottom-color: rgba(0,0,0,.25)!important;
}

[class^=chart-] h2 span {
  font-style: italic;
  margin-right: 5px;
  font-size: 1.3em;
}

.mobileShow {
  display: none;
}

.mobileHide {
  display: inherit;
}

.mm-menu,.mm-panels,.mm-panels>.mm-panel {
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  box-sizing: border-box;
}

.mm-btn,.mm-menu {
  box-sizing: border-box;
}

.mm-listview a,.mm-listview a:hover,.mm-navbar a,.mm-navbar a:hover {
  text-decoration: none;
}

.mm-hidden {
  display: none!important;
}

.mm-menu,.mm-panels>.mm-panel:not(.mm-hidden) {
  display: block;
}

.mm-menu {
  padding: 0;
  position: absolute;
}

.mm-panels,.mm-panels>.mm-panel {
  background: inherit;
  border-color: inherit;
  position: absolute;
}

.mm-btn,.mm-panel.mm-highest {
  z-index: 1;
}

.mm-panels {
  overflow: hidden;
}

.mm-panel {
  -webkit-transition: -webkit-transform .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.mm-menu.mm-effect-menu-zoom,.mm-slideout {
  -webkit-transition: -webkit-transform .5s ease,-webkit-transform .5s ease;
}

.mm-panel.mm-opened {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-panel.mm-subopened {
  -webkit-transform: translate3d(-30%,0,0);
  transform: translate3d(-30%,0,0);
}

.mm-panels>.mm-panel {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
}

.mm-panels>.mm-panel.mm-hasnavbar {
  padding-top: 40px;
}

.mm-panels>.mm-panel:after,.mm-panels>.mm-panel:before {
  content: '';
  display: block;
  height: 20px;
}

.mm-vertical .mm-panel {
  -webkit-transform: none!important;
  -ms-transform: none!important;
  transform: none!important;
}

.mm-listview .mm-vertical .mm-panel,.mm-vertical .mm-listview .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}

.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after,.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after {
  border-color: transparent;
}

.mm-vertical li.mm-opened>.mm-panel,li.mm-vertical.mm-opened>.mm-panel {
  display: block;
}

.mm-listview>li.mm-vertical>.mm-next,.mm-vertical .mm-listview>li>.mm-next {
  height: 40px;
  bottom: auto;
}

.mm-listview>li.mm-vertical>.mm-next:after,.mm-vertical .mm-listview>li>.mm-next:after {
  top: 16px;
  bottom: auto;
}

.mm-listview>li.mm-vertical.mm-opened>.mm-next:after,.mm-vertical .mm-listview>li.mm-opened>.mm-next:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 19px;
}

.mm-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.mm-clear:after,.mm-clear:before,.mm-close:after,.mm-close:before {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mm-clear:before,.mm-close:before {
  border-right: none;
  border-bottom: none;
  right: 18px;
}

.mm-clear:after,.mm-close:after {
  border-left: none;
  border-top: none;
  right: 25px;
}

.mm-arrow:after,.mm-next:after,.mm-prev:before {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 23px;
}

.mm-arrow:after,.mm-next:after {
  border-top: none;
  border-left: none;
  right: 23px;
}

.mm-navbar {
  border-bottom: 1px solid;
  border-color: inherit;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.mm-navbar>* {
  display: block;
  padding: 10px 0;
}

.mm-navbar .mm-btn:first-child {
  padding-left: 20px;
  left: 0;
}

.mm-navbar .mm-btn:last-child {
  text-align: right;
  padding-right: 20px;
  right: 0;
}

.mm-panel .mm-navbar {
  display: none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display: block;
}

.mm-listview,.mm-listview>li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-listview {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
}

.mm-listview>li {
  position: relative;
}

.mm-listview>li,.mm-listview>li .mm-next,.mm-listview>li .mm-next:before,.mm-listview>li:after {
  border-color: inherit;
}

.mm-listview>li>a,.mm-listview>li>span {
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-listview>li>a.mm-arrow,.mm-listview>li>span.mm-arrow {
  padding-right: 50px;
}

.mm-listview>li:not(.mm-divider):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 20px;
}

.mm-listview .mm-next {
  background: rgba(3,2,1,0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.mm-listview .mm-next:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.mm-listview .mm-next+a,.mm-listview .mm-next+span {
  margin-right: 50px;
}

.mm-listview .mm-next.mm-fullsubopen {
  width: 100%;
}

.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none;
}

.mm-listview .mm-next.mm-fullsubopen+a,.mm-listview .mm-next.mm-fullsubopen+span {
  padding-right: 50px;
  margin-right: 0;
}

.mm-panels>.mm-panel>.mm-listview {
  margin: 20px -20px;
}

.mm-panels>.mm-panel>.mm-listview:first-child,.mm-panels>.mm-panel>.mm-navbar+.mm-listview {
  margin-top: -20px;
}

.mm-listview .mm-inset {
  list-style: disc inside;
  padding: 0 10px 15px 40px;
  margin: 0;
}

.mm-listview .mm-inset>li {
  padding: 5px 0;
}

.mm-listview .mm-divider {
  font-size: 10px;
  text-indent: 20px;
  line-height: 25px;
}

.mm-listview .mm-spacer {
  padding-top: 40px;
}

.mm-listview .mm-spacer>.mm-next {
  top: 40px;
}

.mm-listview .mm-spacer.mm-divider {
  padding-top: 25px;
}

.mm-menu {
  background: #f3f3f3;
  border-color: rgba(0,0,0,.1);
  color: rgba(0,0,0,.7);
}

.mm-menu .mm-navbar a,.mm-menu .mm-navbar>*,.mm-menu em.mm-counter {
  color: rgba(0,0,0,.3);
}

.mm-menu .mm-btn:after,.mm-menu .mm-btn:before {
  border-color: rgba(0,0,0,.3);
}

.mm-menu .mm-listview {
  border-color: rgba(0,0,0,.1);
}

.mm-menu .mm-listview>li .mm-arrow:after,.mm-menu .mm-listview>li .mm-next:after {
  border-color: rgba(0,0,0,.3);
}

.mm-menu .mm-listview>li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(255,255,255,.5);
  tap-highlight-color: rgba(255,255,255,.5);
}

.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu .mm-listview>li.mm-selected>span {
  background: rgba(255,255,255,.5);
}

.mm-menu .mm-divider,.mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel,.mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next,.mm-menu.mm-vertical .mm-listview>li.mm-opened>.mm-panel,.mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
  background: rgba(0,0,0,.05);
}

.mm-page {
  box-sizing: border-box;
  position: relative;
}

.mm-slideout {
  transition: transform .5s ease,-webkit-transform .5s ease;
  z-index: 1;
}

html.mm-opened {
  overflow-x: hidden;
  position: relative;
}

html.mm-blocking,html.mm-blocking body {
  overflow: hidden;
}

html.mm-background .mm-page {
  background: inherit;
}

#mm-blocker {
  background: rgba(3,2,1,0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

html.mm-blocking #mm-blocker {
  display: block;
}

.mm-menu.mm-offcanvas {
  z-index: 0;
  display: none;
  position: fixed;
}

.mm-menu.mm-offcanvas.mm-current {
  display: block;
}

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px;
}

html.mm-opening .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-autoheight.mm-bottom,.mm-menu.mm-autoheight.mm-top {
  max-height: 80%;
}

.mm-menu.mm-autoheight.mm-bottom.mm-fullscreen,.mm-menu.mm-autoheight.mm-top.mm-fullscreen {
  max-height: 100%;
}

.mm-menu.mm-measureheight .mm-panel {
  display: block!important;
}

.mm-menu.mm-measureheight>.mm-panels>.mm-panel {
  bottom: auto!important;
  height: auto!important;
}

.mm-menu.mm-columns {
  -webkit-transition-property: -webkit-transform,width,max-width,-webkit-transform;
  transition-property: transform,width,max-width,-webkit-transform;
}

.mm-menu.mm-columns .mm-panels>.mm-panel {
  width: 100%;
  right: auto;
  display: none;
  -webkit-transition-property: -webkit-transform,width,-webkit-transform;
  transition-property: transform,width,-webkit-transform;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened {
  border-right: 1px solid;
  border-color: inherit;
  display: block;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-subopened {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  z-index: 2;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-0 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-0 {
  display: block;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.mm-menu.mm-columns-0 {
  width: 80%;
  min-width: 140px;
  max-width: 0;
}

html.mm-opening.mm-columns-0 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-1 {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-1 {
  display: block;
  -webkit-transform: translate3d(200%,0,0);
  transform: translate3d(200%,0,0);
}

.mm-menu.mm-columns-1 {
  width: 80%;
  min-width: 140px;
  max-width: 440px;
}

html.mm-opening.mm-columns-1 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-1 .mm-panels>.mm-panel {
  width: 100%;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-2 {
  -webkit-transform: translate3d(200%,0,0);
  transform: translate3d(200%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-2 {
  display: block;
  -webkit-transform: translate3d(300%,0,0);
  transform: translate3d(300%,0,0);
}

.mm-menu.mm-columns-2 {
  width: 80%;
  min-width: 140px;
  max-width: 880px;
}

html.mm-opening.mm-columns-2 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-2 .mm-panels>.mm-panel {
  width: 50%;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-3 {
  -webkit-transform: translate3d(300%,0,0);
  transform: translate3d(300%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-3 {
  display: block;
  -webkit-transform: translate3d(400%,0,0);
  transform: translate3d(400%,0,0);
}

.mm-menu.mm-columns-3 {
  width: 80%;
  min-width: 140px;
  max-width: 1320px;
}

html.mm-opening.mm-columns-3 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-3 .mm-panels>.mm-panel {
  width: 33.34%;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-4 {
  -webkit-transform: translate3d(400%,0,0);
  transform: translate3d(400%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-4 {
  display: block;
  -webkit-transform: translate3d(500%,0,0);
  transform: translate3d(500%,0,0);
}

.mm-menu.mm-columns-4 {
  width: 80%;
  min-width: 140px;
  max-width: 1760px;
}

html.mm-opening.mm-columns-4 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-4 .mm-panels>.mm-panel {
  width: 25%;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-5 {
  -webkit-transform: translate3d(500%,0,0);
  transform: translate3d(500%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-5 {
  display: block;
  -webkit-transform: translate3d(600%,0,0);
  transform: translate3d(600%,0,0);
}

.mm-menu.mm-columns-5 {
  width: 80%;
  min-width: 140px;
  max-width: 2200px;
}

html.mm-opening.mm-columns-5 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-5 .mm-panels>.mm-panel {
  width: 20%;
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-columns-6 {
  -webkit-transform: translate3d(600%,0,0);
  transform: translate3d(600%,0,0);
}

.mm-menu.mm-columns .mm-panels>.mm-panel.mm-opened:not([class*=mm-columns-])~.mm-panel:not(.mm-opened).mm-columns-6 {
  display: block;
  -webkit-transform: translate3d(700%,0,0);
  transform: translate3d(700%,0,0);
}

.mm-menu.mm-columns-6 {
  width: 80%;
  min-width: 140px;
  max-width: 2640px;
}

html.mm-opening.mm-columns-6 .mm-slideout {
  -webkit-transform: translate3d(80%,0,0);
  transform: translate3d(80%,0,0);
}

.mm-menu.mm-columns-6 .mm-panels>.mm-panel {
  width: 16.67%;
}

em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 45px;
  top: 50%;
}

.mm-collapsed:not(.mm-uncollapsed),.mm-nosubresults>.mm-counter {
  display: none;
}

em.mm-counter+a.mm-next {
  width: 90px;
}

em.mm-counter+a.mm-next+a,em.mm-counter+a.mm-next+span {
  margin-right: 90px;
}

em.mm-counter+a.mm-fullsubopen {
  padding-left: 0;
}

.mm-vertical>.mm-counter {
  top: 12px;
  margin-top: 0;
}

.mm-vertical.mm-spacer>.mm-counter {
  margin-top: 40px;
}

.mm-divider>span {
  padding: 0;
  line-height: 25px;
}

.mm-divider.mm-opened a.mm-next:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-fixeddivider {
  background: inherit;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu .mm-fixeddivider span,.mm-menu .mm-search input {
  background: rgba(0,0,0,.05);
}

.mm-fixeddivider:after {
  content: none!important;
  display: none!important;
}

.mm-hasdividers .mm-fixeddivider {
  display: block;
}

html.mm-opened.mm-dragging .mm-menu,html.mm-opened.mm-dragging .mm-slideout {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.mm-menu.mm-dropdown {
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  height: 80%;
}

html.mm-dropdown .mm-slideout {
  -webkit-transform: none!important;
  -ms-transform: none!important;
  transform: none!important;
  z-index: 0;
}

html.mm-dropdown #mm-blocker {
  -webkit-transition-delay: 0s!important;
  transition-delay: 0s!important;
  z-index: 1;
}

html.mm-dropdown .mm-menu {
  z-index: 2;
}

html.mm-dropdown.mm-opened:not(.mm-opening) .mm-menu {
  display: none;
}

.mm-menu.mm-tip:before {
  content: '';
  background: inherit;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-search input,html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none!important;
}

.mm-menu.mm-tipleft:before {
  left: 22px;
}

.mm-menu.mm-tipright:before {
  right: 22px;
}

.mm-menu.mm-tiptop:before {
  top: -8px;
}

.mm-menu.mm-tipbottom:before {
  bottom: -8px;
}

.mm-iconpanel .mm-panel {
  -webkit-transition-property: -webkit-transform,left,-webkit-transform;
  transition-property: transform,left,-webkit-transform;
}

.mm-iconpanel .mm-panel.mm-opened {
  border-left: 1px solid;
  border-color: inherit;
}

.mm-iconpanel .mm-panel.mm-subopened {
  overflow-y: hidden;
  left: -40px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-iconpanel .mm-panel.mm-iconpanel-0 {
  left: 0;
}

.mm-iconpanel .mm-panel.mm-iconpanel-1 {
  left: 40px;
}

.mm-iconpanel .mm-panel.mm-iconpanel-2 {
  left: 80px;
}

.mm-iconpanel .mm-panel.mm-iconpanel-3 {
  left: 120px;
}

.mm-iconpanel .mm-panel.mm-iconpanel-4 {
  left: 160px;
}

.mm-iconpanel .mm-panel.mm-iconpanel-5 {
  left: 200px;
}

.mm-iconpanel .mm-panel.mm-iconpanel-6 {
  left: 240px;
}

.mm-subblocker {
  background: inherit;
  opacity: 0;
  display: block;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.mm-subopened .mm-subblocker {
  opacity: .6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -100000px;
  left: 0;
  z-index: 3;
}

.mm-navbar-bottom,.mm-navbar-top~.mm-navbar-top {
  border-bottom: none;
}

.mm-menu>.mm-navbar {
  background: inherit;
  padding: 0;
  z-index: 3;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-navbar-bottom {
  border-top-width: 1px;
  border-top-style: solid;
  top: auto;
  bottom: 0;
}

.mm-navbar-bottom~.mm-navbar-bottom {
  border-top: none;
}

.mm-navbar.mm-hasbtns {
  padding: 0 40px;
}

.mm-navbar[class*=mm-navbar-content-]>* {
  box-sizing: border-box;
  display: block;
  float: left;
}

.mm-navbar .mm-breadcrumbs {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  text-align: left;
  padding: 0 0 0 17px;
}

.mm-navbar .mm-breadcrumbs>* {
  display: inline-block;
  padding: 10px 3px;
}

.mm-navbar .mm-breadcrumbs>a {
  text-decoration: underline;
}

.mm-navbar.mm-hasbtns .mm-breadcrumbs {
  margin-left: -40px;
}

.mm-navbar.mm-hasbtns .mm-btn:not(.mm-hidden)+.mm-breadcrumbs {
  margin-left: 0;
  padding-left: 0;
}

.mm-navbar-top-1 {
  top: 0;
}

.mm-hasnavbar-top-1 .mm-panels,.mm-navbar-top-2 {
  top: 40px;
}

.mm-hasnavbar-top-2 .mm-panels,.mm-navbar-top-3 {
  top: 80px;
}

.mm-hasnavbar-top-3 .mm-panels,.mm-navbar-top-4 {
  top: 120px;
}

.mm-hasnavbar-top-4 .mm-panels {
  top: 160px;
}

.mm-navbar-bottom-1 {
  bottom: 0;
}

.mm-hasnavbar-bottom-1 .mm-panels,.mm-navbar-bottom-2 {
  bottom: 40px;
}

.mm-hasnavbar-bottom-2 .mm-panels,.mm-navbar-bottom-3 {
  bottom: 80px;
}

.mm-hasnavbar-bottom-3 .mm-panels,.mm-navbar-bottom-4 {
  bottom: 120px;
}

.mm-hasnavbar-bottom-4 .mm-panels {
  bottom: 160px;
}

.mm-navbar-size-2 {
  height: 80px;
}

.mm-navbar-size-3 {
  height: 120px;
}

.mm-navbar-size-4 {
  height: 160px;
}

.mm-navbar-content-2>* {
  width: 50%;
}

.mm-navbar-content-3>* {
  width: 33.33%;
}

.mm-navbar-content-4>* {
  width: 25%;
}

.mm-navbar-content-5>* {
  width: 20%;
}

.mm-navbar-content-6>* {
  width: 16.67%;
}

.mm-sronly {
  text-indent: 10px;
  overflow: hidden;
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
}

.mm-search,.mm-search input {
  box-sizing: border-box;
}

.mm-search {
  height: 40px;
  padding: 7px 10px 0;
  position: relative;
}

.mm-search input {
  border: none!important;
  outline: 0!important;
  border-radius: 26px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  display: block;
  width: 100%;
  height: 26px;
  min-height: 26px;
  max-height: 26px;
  margin: 0;
  padding: 0 10px;
}

.mm-search input::-ms-clear {
  display: none;
}

.mm-search .mm-clear,.mm-search .mm-next {
  right: 0;
}

.mm-panel>.mm-search {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mm-panel.mm-hassearch {
  padding-top: 40px;
}

.mm-panel.mm-hassearch.mm-hasnavbar {
  padding-top: 80px;
}

.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
  top: 40px;
}

.mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  padding: 40px 0;
}

.mm-noresults .mm-indexer {
  display: none!important;
}

li.mm-nosubresults>a.mm-next {
  display: none;
}

li.mm-nosubresults>a.mm-next+a,li.mm-nosubresults>a.mm-next+span {
  padding-right: 10px;
}

.mm-panels>.mm-resultspanel:not(.mm-opened) {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu .mm-search input {
  color: rgba(0,0,0,.7);
}

.mm-menu .mm-indexer a,.mm-menu .mm-noresultsmsg {
  color: rgba(0,0,0,.3);
}

.mm-indexer {
  background: inherit;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100px;
  z-index: 3;
  -webkit-transition: right .5s ease;
  transition: right .5s ease;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-indexer a {
  text-decoration: none;
  display: block;
  height: 3.85%;
}

.mm-indexer~.mm-panel.mm-hasindexer {
  padding-right: 40px;
}

.mm-hasindexer .mm-indexer {
  right: 0;
}

.mm-hasindexer .mm-fixeddivider {
  right: 20px;
}

.mm-menu.mm-hoverselected .mm-listview>li>a.mm-fullsubopen+a,.mm-menu.mm-hoverselected .mm-listview>li>a.mm-fullsubopen+span,.mm-menu.mm-hoverselected .mm-listview>li>a:not(.mm-fullsubopen),.mm-menu.mm-parentselected .mm-listview>li>a.mm-fullsubopen+a,.mm-menu.mm-parentselected .mm-listview>li>a.mm-fullsubopen+span,.mm-menu.mm-parentselected .mm-listview>li>a:not(.mm-fullsubopen) {
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

.mm-menu.mm-hoverselected .mm-listview>li>a.mm-fullsubopen:hover+span,.mm-menu.mm-hoverselected .mm-listview>li>a:not(.mm-fullsubopen):hover,.mm-menu.mm-parentselected .mm-listview>li>a.mm-selected.mm-fullsubopen+a,.mm-menu.mm-parentselected .mm-listview>li>a.mm-selected.mm-fullsubopen+span,.mm-menu.mm-parentselected .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
  background: rgba(255,255,255,.5);
}

input.mm-check,input.mm-toggle {
  position: absolute;
  left: -10000px;
}

label.mm-check,label.mm-toggle {
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  right: 20px;
}

label.mm-check:before,label.mm-toggle:before {
  content: '';
  display: block;
}

label.mm-toggle {
  border-radius: 30px;
  width: 50px;
  height: 30px;
  margin-top: -15px;
}

label.mm-toggle:before {
  border-radius: 30px;
  width: 28px;
  height: 28px;
  margin: 1px;
}

input.mm-toggle:checked~label.mm-toggle:before {
  float: right;
}

label.mm-check {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

label.mm-check:before {
  border-left: 3px solid;
  border-bottom: 3px solid;
  width: 40%;
  height: 20%;
  margin: 25% 0 0 20%;
  opacity: .1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input.mm-check:checked~label.mm-check:before {
  opacity: 1;
}

li.mm-vertical label.mm-check,li.mm-vertical label.mm-toggle {
  bottom: auto;
  margin-top: 0;
  top: 5px;
}

label.mm-toggle+a,label.mm-toggle+span {
  padding-right: 80px;
}

label.mm-check+a,label.mm-check+span {
  padding-right: 60px;
}

a.mm-next+label.mm-check,a.mm-next+label.mm-toggle {
  right: 60px;
}

a.mm-next+label.mm-check+a,a.mm-next+label.mm-check+span,a.mm-next+label.mm-toggle+a,a.mm-next+label.mm-toggle+span {
  margin-right: 50px;
}

a.mm-next+label.mm-toggle+a,a.mm-next+label.mm-toggle+span {
  padding-right: 70px;
}

a.mm-next+label.mm-check+a,a.mm-next+label.mm-check+span {
  padding-right: 50px;
}

em.mm-counter+a.mm-next+label.mm-check,em.mm-counter+a.mm-next+label.mm-toggle {
  right: 100px;
}

em.mm-counter+a.mm-next+label.mm-check+a,em.mm-counter+a.mm-next+label.mm-check+span,em.mm-counter+a.mm-next+label.mm-toggle+a,em.mm-counter+a.mm-next+label.mm-toggle+span {
  margin-right: 90px;
}

.mm-menu label.mm-toggle {
  background: rgba(0,0,0,.1);
}

.mm-menu label.mm-toggle:before {
  background: #f3f3f3;
}

.mm-menu input.mm-toggle:checked~label.mm-toggle {
  background: #4bd963;
}

.mm-menu label.mm-check:before {
  border-color: rgba(0,0,0,.7);
}

.mm-listview.mm-border-none>li:after,.mm-menu.mm-border-none .mm-listview>li:after {
  content: none;
}

.mm-listview.mm-border-full>li:after,.mm-menu.mm-border-full .mm-listview>li:after {
  left: 0!important;
}

.mm-listview.mm-border-offset>li:after,.mm-menu.mm-border-offset .mm-listview>li:after {
  right: 20px;
}

.mm-menu.mm-effect-menu-zoom {
  transition: transform .5s ease,-webkit-transform .5s ease;
}

html.mm-opened .mm-menu.mm-effect-menu-zoom {
  -webkit-transform: scale(.7,.7) translate3d(-30%,0,0);
  transform: scale(.7,.7) translate3d(-30%,0,0);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

html.mm-opening .mm-menu.mm-effect-menu-zoom {
  -webkit-transform: scale(1,1) translate3d(0,0,0);
  transform: scale(1,1) translate3d(0,0,0);
}

html.mm-right.mm-opened .mm-menu.mm-effect-menu-zoom {
  -webkit-transform: scale(.7,.7) translate3d(30%,0,0);
  transform: scale(.7,.7) translate3d(30%,0,0);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}

html.mm-right.mm-opening .mm-menu.mm-effect-menu-zoom {
  -webkit-transform: scale(1,1) translate3d(0,0,0);
  transform: scale(1,1) translate3d(0,0,0);
}

.mm-menu.mm-effect-menu-slide {
  -webkit-transition: -webkit-transform .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
}

html.mm-opened .mm-menu.mm-effect-menu-slide {
  -webkit-transform: translate3d(-30%,0,0);
  transform: translate3d(-30%,0,0);
}

html.mm-opening .mm-menu.mm-effect-menu-slide {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

html.mm-right.mm-opened .mm-menu.mm-effect-menu-slide {
  -webkit-transform: translate3d(30%,0,0);
  transform: translate3d(30%,0,0);
}

html.mm-right.mm-opening .mm-menu.mm-effect-menu-slide {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu.mm-effect-menu-fade {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

html.mm-opening .mm-menu.mm-effect-menu-fade {
  opacity: 1;
}

.mm-menu.mm-effect-panels-zoom .mm-panel {
  -webkit-transform: scale(1.5,1.5) translate3d(100%,0,0);
  transform: scale(1.5,1.5) translate3d(100%,0,0);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.mm-menu.mm-effect-panels-zoom .mm-panel.mm-opened {
  -webkit-transform: scale(1,1) translate3d(0,0,0);
  transform: scale(1,1) translate3d(0,0,0);
}

.mm-menu.mm-effect-panels-zoom .mm-panel.mm-opened.mm-subopened {
  -webkit-transform: scale(.7,.7) translate3d(-30%,0,0);
  transform: scale(.7,.7) translate3d(-30%,0,0);
}

.mm-menu.mm-effect-panels-slide-0 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu.mm-effect-panels-slide-100 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li {
  -webkit-transition: none .5s ease;
  transition: none .5s ease;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(1) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(3) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(4) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(5) {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(6) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(7) {
  -webkit-transition-delay: 350ms;
  transition-delay: 350ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(8) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(9) {
  -webkit-transition-delay: 450ms;
  transition-delay: 450ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(10) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(11) {
  -webkit-transition-delay: 550ms;
  transition-delay: 550ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(12) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(13) {
  -webkit-transition-delay: 650ms;
  transition-delay: 650ms;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(14) {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(15) {
  -webkit-transition-delay: 750ms;
  transition-delay: 750ms;
}

.mm-menu.mm-effect-listitems-slide .mm-listview>li {
  -webkit-transition-property: -webkit-transform,opacity,-webkit-transform;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
  opacity: 0;
}

html.mm-opening .mm-menu.mm-effect-listitems-slide .mm-panel.mm-opened .mm-listview>li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.mm-menu.mm-effect-listitems-fade .mm-listview>li {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}

html.mm-opening .mm-menu.mm-effect-listitems-fade .mm-panel.mm-opened .mm-listview>li {
  opacity: 1;
}

.mm-menu.mm-effect-listitems-drop .mm-listview>li {
  -webkit-transition-property: opacity,top;
  transition-property: opacity,top;
  opacity: 0;
  top: -25%;
}

html.mm-opening .mm-menu.mm-effect-listitems-drop .mm-panel.mm-opened .mm-listview>li {
  opacity: 1;
  top: 0;
}

.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px;
}

html.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.mm-menu.mm-fullscreen.mm-bottom,.mm-menu.mm-fullscreen.mm-top {
  height: 100%;
  min-height: 140px;
  max-height: 10000px;
}

.mm-menu .mm-panels>.mm-panel.mm-justified-listview:after,.mm-menu .mm-panels>.mm-panel.mm-justified-listview:before,.mm-menu.mm-justified-listview .mm-panels>.mm-panel:after,.mm-menu.mm-justified-listview .mm-panels>.mm-panel:before {
  content: none;
  display: none;
}

.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview,.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview>li:not(.mm-divider),.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview>li:not(.mm-divider) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview>li:not(.mm-divider)>a:not(.mm-next),.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview>li:not(.mm-divider)>span,.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview>li:not(.mm-divider)>a:not(.mm-next),.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview>li:not(.mm-divider)>span {
  box-sizing: border-box;
  height: 100%;
}

.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview>li:not(.mm-divider)>a:not(.mm-next):before,.mm-menu .mm-panels>.mm-panel.mm-justified-listview>.mm-listview>li:not(.mm-divider)>span:before,.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview>li:not(.mm-divider)>a:not(.mm-next):before,.mm-menu.mm-justified-listview .mm-panels>.mm-panel>.mm-listview>li:not(.mm-divider)>span:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0;
}

.mm-listview.mm-multiline>li .mm-listview>li.mm-multiline>a,.mm-listview.mm-multiline>li .mm-listview>li.mm-multiline>span,.mm-menu.mm-multiline .mm-listview>li>a,.mm-menu.mm-multiline .mm-listview>li>span {
  text-overflow: clip;
  white-space: normal;
}

html.mm-pagedim #mm-blocker,html.mm-pagedim-black #mm-blocker,html.mm-pagedim-white #mm-blocker {
  opacity: 0;
}

html.mm-pagedim-black.mm-opening #mm-blocker,html.mm-pagedim-white.mm-opening #mm-blocker,html.mm-pagedim.mm-opening #mm-blocker {
  opacity: .3;
  -webkit-transition: opacity .5s ease .5s;
  transition: opacity .5s ease .5s;
}

html.mm-pagedim #mm-blocker {
  background: inherit;
}

html.mm-pagedim-white #mm-blocker {
  background: #fff;
}

html.mm-pagedim-black #mm-blocker {
  background: #000;
}

.mm-menu.mm-pageshadow:after {
  content: "";
  display: block;
  width: 20px;
  height: 120%;
  position: absolute;
  left: 100%;
  top: -10%;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.mm-menu.mm-pageshadow.mm-front:after,.mm-menu.mm-pageshadow.mm-next:after,.mm-menu.mm-pageshadow.mm-theme-black:after {
  content: none;
  display: none;
}

.mm-menu.mm-pageshadow.mm-right:after {
  left: auto;
  right: 100%;
}

.mm-menu.mm-popup {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  height: 80%;
  min-height: 140px;
  max-height: 880px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

html.mm-popup.mm-opening .mm-menu.mm-popup {
  opacity: 1;
}

html.mm-popup .mm-slideout {
  -webkit-transform: none!important;
  -ms-transform: none!important;
  transform: none!important;
  z-index: 0;
}

html.mm-popup #mm-blocker {
  -webkit-transition-delay: 0s!important;
  transition-delay: 0s!important;
  z-index: 1;
}

html.mm-popup .mm-menu {
  z-index: 2;
}

.mm-menu.mm-bottom,.mm-menu.mm-top {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 80%;
  min-height: 140px;
  max-height: 880px;
}

.mm-menu.mm-right {
  left: auto;
  right: 0;
}

html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate3d(-80%,0,0);
  transform: translate3d(-80%,0,0);
}

html.mm-front .mm-slideout {
  -webkit-transform: none!important;
  -ms-transform: none!important;
  transform: none!important;
  z-index: 0;
}

html.mm-front #mm-blocker {
  z-index: 1;
}

html.mm-front .mm-menu {
  z-index: 2;
}

.mm-menu.mm-front,.mm-menu.mm-next {
  -webkit-transition: -webkit-transform .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.mm-menu.mm-front.mm-right,.mm-menu.mm-next.mm-right {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.mm-menu.mm-top {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

html.mm-opening .mm-menu.mm-front,html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.mm-menu.mm-theme-dark {
  background: #333;
  border-color: rgba(0,0,0,.15);
  color: rgba(255,255,255,.8);
}

.mm-menu.mm-theme-dark .mm-navbar a,.mm-menu.mm-theme-dark .mm-navbar>*,.mm-menu.mm-theme-dark em.mm-counter {
  color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-dark .mm-btn:after,.mm-menu.mm-theme-dark .mm-btn:before {
  border-color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-dark .mm-listview {
  border-color: rgba(0,0,0,.15);
}

.mm-menu.mm-theme-dark .mm-listview>li .mm-arrow:after,.mm-menu.mm-theme-dark .mm-listview>li .mm-next:after {
  border-color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-dark .mm-listview>li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(0,0,0,.1);
  tap-highlight-color: rgba(0,0,0,.1);
}

.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>span {
  background: rgba(0,0,0,.1);
}

.mm-menu.mm-theme-dark .mm-divider,.mm-menu.mm-theme-dark .mm-fixeddivider span,.mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>.mm-panel,.mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>a.mm-next,.mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>.mm-panel,.mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
  background: rgba(255,255,255,.05);
}

.mm-menu.mm-theme-dark label.mm-check:before {
  border-color: rgba(255,255,255,.8);
}

.mm-menu.mm-pageshadow.mm-theme-dark:after {
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.mm-menu.mm-theme-dark .mm-search input {
  background: rgba(255,255,255,.3);
  color: rgba(255,255,255,.8);
}

.mm-menu.mm-theme-dark .mm-indexer a,.mm-menu.mm-theme-dark .mm-noresultsmsg {
  color: rgba(255,255,255,.4);
}

.mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a.mm-fullsubopen:hover+span,.mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a:not(.mm-fullsubopen):hover,.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+a,.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+span,.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
  background: rgba(0,0,0,.1);
}

.mm-menu.mm-theme-dark label.mm-toggle {
  background: rgba(0,0,0,.15);
}

.mm-menu.mm-theme-dark label.mm-toggle:before {
  background: #333;
}

.mm-menu.mm-theme-dark input.mm-toggle:checked~label.mm-toggle {
  background: #4bd963;
}

.mm-menu.mm-theme-white {
  background: #fff;
  border-color: rgba(0,0,0,.1);
  color: rgba(0,0,0,.6);
}

.mm-menu.mm-theme-white .mm-navbar a,.mm-menu.mm-theme-white .mm-navbar>*,.mm-menu.mm-theme-white em.mm-counter {
  color: rgba(0,0,0,.3);
}

.mm-menu.mm-theme-white .mm-btn:after,.mm-menu.mm-theme-white .mm-btn:before {
  border-color: rgba(0,0,0,.3);
}

.mm-menu.mm-theme-white .mm-listview {
  border-color: rgba(0,0,0,.1);
}

.mm-menu.mm-theme-white .mm-listview>li .mm-arrow:after,.mm-menu.mm-theme-white .mm-listview>li .mm-next:after {
  border-color: rgba(0,0,0,.3);
}

.mm-menu.mm-theme-white .mm-listview>li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(0,0,0,.05);
  tap-highlight-color: rgba(0,0,0,.05);
}

.mm-menu.mm-theme-white .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu.mm-theme-white .mm-listview>li.mm-selected>span {
  background: rgba(0,0,0,.05);
}

.mm-menu.mm-theme-white .mm-divider,.mm-menu.mm-theme-white .mm-fixeddivider span,.mm-menu.mm-theme-white .mm-listview>li.mm-opened.mm-vertical>.mm-panel,.mm-menu.mm-theme-white .mm-listview>li.mm-opened.mm-vertical>a.mm-next,.mm-menu.mm-theme-white.mm-vertical .mm-listview>li.mm-opened>.mm-panel,.mm-menu.mm-theme-white.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
  background: rgba(0,0,0,.03);
}

.mm-menu.mm-theme-white label.mm-check:before {
  border-color: rgba(0,0,0,.6);
}

.mm-menu.mm-pageshadow.mm-theme-white:after {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.mm-menu.mm-theme-white .mm-search input {
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.6);
}

.mm-menu.mm-theme-white .mm-indexer a,.mm-menu.mm-theme-white .mm-noresultsmsg {
  color: rgba(0,0,0,.3);
}

.mm-menu.mm-hoverselected.mm-theme-white .mm-listview>li>a.mm-fullsubopen:hover+span,.mm-menu.mm-hoverselected.mm-theme-white .mm-listview>li>a:not(.mm-fullsubopen):hover,.mm-menu.mm-parentselected.mm-theme-white .mm-listview>li>a.mm-selected.mm-fullsubopen+a,.mm-menu.mm-parentselected.mm-theme-white .mm-listview>li>a.mm-selected.mm-fullsubopen+span,.mm-menu.mm-parentselected.mm-theme-white .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
  background: rgba(0,0,0,.05);
}

.mm-menu.mm-theme-white label.mm-toggle {
  background: rgba(0,0,0,.1);
}

.mm-menu.mm-theme-white label.mm-toggle:before {
  background: #fff;
}

.mm-menu.mm-theme-white input.mm-toggle:checked~label.mm-toggle {
  background: #4bd963;
}

.mm-menu.mm-theme-black {
  background: #000;
  border-color: rgba(255,255,255,.2);
  color: rgba(255,255,255,.6);
}

.mm-menu.mm-theme-black .mm-navbar a,.mm-menu.mm-theme-black .mm-navbar>*,.mm-menu.mm-theme-black em.mm-counter {
  color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-black .mm-btn:after,.mm-menu.mm-theme-black .mm-btn:before {
  border-color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-black .mm-listview {
  border-color: rgba(255,255,255,.2);
}

.mm-menu.mm-theme-black .mm-listview>li .mm-arrow:after,.mm-menu.mm-theme-black .mm-listview>li .mm-next:after {
  border-color: rgba(255,255,255,.4);
}

.mm-menu.mm-theme-black .mm-listview>li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(255,255,255,.3);
  tap-highlight-color: rgba(255,255,255,.3);
}

.mfp-arrow,.owl-carousel,.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
}

.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu.mm-theme-black .mm-listview>li.mm-selected>span {
  background: rgba(255,255,255,.3);
}

.mm-menu.mm-theme-black .mm-divider,.mm-menu.mm-theme-black .mm-fixeddivider span,.mm-menu.mm-theme-black .mm-listview>li.mm-opened.mm-vertical>.mm-panel,.mm-menu.mm-theme-black .mm-listview>li.mm-opened.mm-vertical>a.mm-next,.mm-menu.mm-theme-black.mm-vertical .mm-listview>li.mm-opened>.mm-panel,.mm-menu.mm-theme-black.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
  background: rgba(255,255,255,.2);
}

.mm-menu.mm-theme-black label.mm-check:before {
  border-color: rgba(255,255,255,.6);
}

.mm-menu.mm-theme-black .mm-search input {
  background: rgba(255,255,255,.3);
  color: rgba(255,255,255,.6);
}

.mm-menu.mm-theme-black .mm-indexer a,.mm-menu.mm-theme-black .mm-noresultsmsg {
  color: rgba(255,255,255,.4);
}

.mm-menu.mm-hoverselected.mm-theme-black .mm-listview>li>a.mm-fullsubopen:hover+span,.mm-menu.mm-hoverselected.mm-theme-black .mm-listview>li>a:not(.mm-fullsubopen):hover,.mm-menu.mm-parentselected.mm-theme-black .mm-listview>li>a.mm-selected.mm-fullsubopen+a,.mm-menu.mm-parentselected.mm-theme-black .mm-listview>li>a.mm-selected.mm-fullsubopen+span,.mm-menu.mm-parentselected.mm-theme-black .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
  background: rgba(255,255,255,.3);
}

.mm-menu.mm-theme-black label.mm-toggle {
  background: rgba(255,255,255,.2);
}

.mm-menu.mm-theme-black label.mm-toggle:before {
  background: #000;
}

.mm-menu.mm-theme-black input.mm-toggle:checked~label.mm-toggle {
  background: #4bd963;
}

.mm-menu .mm-tileview.mm-listview:after,.mm-menu.mm-tileview .mm-listview:after {
  content: '';
  display: block;
  clear: both;
}

.mm-menu .mm-tileview.mm-listview>li>.mm-next:after,.mm-menu .mm-tileview.mm-listview>li>.mm-next:before,.mm-menu.mm-tileview .mm-listview>li>.mm-next:after,.mm-menu.mm-tileview .mm-listview>li>.mm-next:before,.mm-menu.mm-tileview .mm-panel:after {
  content: none;
  display: none;
}

.mm-menu .mm-tileview.mm-listview>li,.mm-menu.mm-tileview .mm-listview>li {
  width: 50%;
  height: 0;
  padding: 50% 0 0;
  float: left;
  position: relative;
}

.mm-menu .mm-tileview.mm-listview>li:after,.mm-menu.mm-tileview .mm-listview>li:after {
  left: 0;
  top: 0;
  border-right-width: 1px;
  border-right-style: solid;
  z-index: -1;
}

.mm-menu .mm-tileview.mm-listview>li.mm-tile-xs,.mm-menu.mm-tileview .mm-listview>li.mm-tile-xs {
  width: 12.5%;
  padding-top: 12.5%;
}

.mm-menu .mm-tileview.mm-listview>li.mm-tile-s,.mm-menu.mm-tileview .mm-listview>li.mm-tile-s {
  width: 25%;
  padding-top: 25%;
}

.mm-menu .mm-tileview.mm-listview>li.mm-tile-l,.mm-menu.mm-tileview .mm-listview>li.mm-tile-l {
  width: 75%;
  padding-top: 75%;
}

.mm-menu .mm-tileview.mm-listview>li.mm-tile-xl,.mm-menu.mm-tileview .mm-listview>li.mm-tile-xl {
  width: 100%;
  padding-top: 100%;
}

.mm-menu .mm-tileview.mm-listview>li>a,.mm-menu .mm-tileview.mm-listview>li>span,.mm-menu.mm-tileview .mm-listview>li>a,.mm-menu.mm-tileview .mm-listview>li>span {
  line-height: 1px;
  text-align: center;
  padding: 50% 10px 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 1px;
  left: 0;
}

.mm-menu .mm-tileview.mm-listview>li>.mm-next,.mm-menu.mm-tileview .mm-listview>li>.mm-next {
  width: auto;
}

.mm-menu.mm-tileview .mm-panel {
  padding-left: 0;
  padding-right: 0;
}

.mm-menu.mm-tileview .mm-listview {
  margin: 0;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.mfp-arrow:after,.mfp-arrow:before,.mfp-container:before,.mfp-figure:after {
  content: '';
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(0) scale(1,1);
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: scale .1s ease;
  transition: scale .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3,1.3);
  transition: scale(1.3,1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.mfp-bg,.mfp-wrap {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
}

.mfp-wrap {
  z-index: 1043;
  outline: 0!important;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none!important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-close,.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader {
  display: none;
}

button.mfp-arrow,button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.mfp-figure:after,.mfp-iframe-scaler iframe {
  box-shadow: 0 0 8px rgba(0,0,0,.6);
  position: absolute;
  left: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial,Baskerville,monospace;
}

.mfp-close:focus,.mfp-close:hover {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-figure,img.mfp-img {
  line-height: 0;
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:focus,.mfp-arrow:hover {
  opacity: 1;
}

.mfp-arrow:after,.mfp-arrow:before {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-image-holder .mfp-content,img.mfp-img {
  max-width: 100%;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.mfp-figure:after,img.mfp-img {
  width: auto;
  height: auto;
  display: block;
}

img.mfp-img {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}

.mfp-figure:after {
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

.ninja-forms-cont .hp-wrap,.ninja-forms-required-items {
  display: none;
}

#ninja_forms_required_items,.field-wrap {
  margin-bottom: 0!important;
}

.ninja-forms-response-msg div {
  display: block;
  width: 100%;
  background: #B71C1C;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.3em;
}

.ninja-forms-field-error {
  width: 100%;
  background: #B71C1C;
  color: #fff!important;
  margin-top: -12px;
  margin-bottom: 16px;
}

.ninja-forms-field-error p {
  padding: 5px 0!important;
  margin: 0;
}

body.page-template-page_cities nav ul>li.cities>a,body.single-cities nav ul>li.cities>a,nav ul li.current-menu-item a {
  background: rgba(219,197,0,.5);
  color: #391E4A;
}

@media all and (min-width:0px) {
  html.mm-opening.mm-columns-0 .mm-slideout {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@media (min-width:43.75em) {
  h2,h3 {
    line-height: 1.25;
  }

  blockquote,h3 {
    font-size: 1.5em;
  }

  #page {
    font-size: 1em;
    line-height: 1.375;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    line-height: 1.22222222;
  }

  blockquote {
    line-height: 1.45833333;
  }
}

@media (min-width:56.25em) {
  h2,h3 {
    line-height: 1.25;
  }

  h1 {
    font-size: 3em;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }
}

@media all and (min-width:550px) {
  html.mm-opening .mm-slideout,html.mm-opening.mm-columns-1 .mm-slideout {
    -webkit-transform: translate3d(440px,0,0);
    transform: translate3d(440px,0,0);
  }

  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-440px,0,0);
    transform: translate3d(-440px,0,0);
  }
}

@media all and (min-width:1100px) {
  html.mm-opening.mm-columns-2 .mm-slideout {
    -webkit-transform: translate3d(880px,0,0);
    transform: translate3d(880px,0,0);
  }
}

@media only screen and (min-width:1401px) {
  body#debug:before {
    content: 'super';
  }
}

@media all and (min-width:1650px) {
  html.mm-opening.mm-columns-3 .mm-slideout {
    -webkit-transform: translate3d(1320px,0,0);
    transform: translate3d(1320px,0,0);
  }
}

@media all and (min-width:2200px) {
  html.mm-opening.mm-columns-4 .mm-slideout {
    -webkit-transform: translate3d(1760px,0,0);
    transform: translate3d(1760px,0,0);
  }
}

@media all and (min-width:2750px) {
  html.mm-opening.mm-columns-5 .mm-slideout {
    -webkit-transform: translate3d(2200px,0,0);
    transform: translate3d(2200px,0,0);
  }
}

@media all and (min-width:3300px) {
  html.mm-opening.mm-columns-6 .mm-slideout {
    -webkit-transform: translate3d(2640px,0,0);
    transform: translate3d(2640px,0,0);
  }
}

@media all and (min-width:10000px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(10000px,0,0);
    transform: translate3d(10000px,0,0);
  }

  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(-10000px,0,0);
    transform: translate3d(-10000px,0,0);
  }
}

@media only screen and (max-width:1400px) {
  body#debug:before {
    content: 'wide';
  }
}

@media only screen and (max-width:1160px) {
  body#debug:before {
    content: 'desktop';
  }

  .wrapper {
    max-width: 94%;
  }

  .homeBanner .center {
    max-width: 80%;
  }

  .companies .left {
    width: 25%;
  }

  .companies .right {
    width: 71%;
  }

  .companies .lineVert {
    left: 26.5%;
  }
}

@media only screen and (max-width:900px) {
  body#debug:before {
    content: 'narrow';
  }

  nav.main ul a {
    font-size: 1.1em;
  }

  .companies .left {
    width: 30%;
  }

  .companies .right {
    width: 66%;
  }

  .companies .lineVert {
    left: 31.5%;
  }
}

@media all and (max-width:900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width:760px) {
  body#debug:before {
    content: 'narrower';
  }

  nav.main ul a {
    font-size: 1em;
  }

  header .logo {
    width: 300px;
  }

  header h1 {
    font-size: 3em;
  }

  .companies .left {
    width: 35%;
  }

  .companies .right {
    width: 61%;
  }

  .companies .lineVert {
    left: 36.5%;
  }
}

@media only screen and (max-width:600px) {
  body#debug:before {
    content: 'mobile';
  }

  body,html {
    overflow-x: scroll;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }

  .content {
    padding: 0 4%;
    margin-top: 30px;
  }

  footer {
    width: 92%;
    margin: 20px auto 40px;
  }

  #modal {
    width: 96vw;
  }

  .featuredText,.sidebar {
    width: 96.66667%;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    float: left;
  }

  nav.main {
    background: #391E4A;
  }

  nav.main ul {
    display: none;
  }

  nav.main .mobileNavLink {
    display: block;
  }

  .sidebar {
    margin-bottom: 30px;
  }

  .sidebar .logo {
    display: none;
  }

  .homeBanner .center {
    max-width: 90%;
  }

  .homeBanner p {
    font-size: .8em;
    line-height: 1.5em;
  }

  header {
    height: 70px;
  }

  header .logo {
    width: 70%;
    padding: 0 0 5px;
    margin-left: 15%;
    background-position: center center!important;
  }

  header h1 {
    position: absolute;
    top: 70px;
    right: 1%;
    font-size: 1.8em;
    line-height: normal;
  }

  .text {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }

  .newsList .newsItem {
    padding: 20px 0 0;
  }

  .newsList .newsItem .title {
    width: 100%;
    margin-top: 20px;
  }

  .newsList .newsItem .title span {
    left: 0;
    top: -24px;
    color: #D3D3D3;
    font-size: .7em;
  }

  .emailLink {
    height: 40px;
  }

  .emailLink h2 {
    line-height: 43px;
    font-size: 1.8em;
  }

  .emailLink h2 img {
    max-height: 30px;
    top: 5px;
  }

  .contactInfo .contact {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  }

  .cityLinks a {
    width: 50%;
    float: left;
  }

  .companies .left {
    width: 25%;
  }

  .companies .right {
    width: 71%;
  }

  .companies .lineVert {
    left: 26.5%;
  }

  [class^=chart-] iframe {
    max-width: 100%!important;
  }

  .mobileShow {
    display: block;
  }

  .mobileHide {
    display: none;
  }
}

@media all and (max-width:175px) {
  html.mm-opening .mm-slideout,html.mm-opening.mm-columns-0 .mm-slideout,html.mm-opening.mm-columns-1 .mm-slideout,html.mm-opening.mm-columns-2 .mm-slideout,html.mm-opening.mm-columns-3 .mm-slideout,html.mm-opening.mm-columns-4 .mm-slideout,html.mm-opening.mm-columns-5 .mm-slideout,html.mm-opening.mm-columns-6 .mm-slideout {
    -webkit-transform: translate3d(140px,0,0);
    transform: translate3d(140px,0,0);
  }

  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-140px,0,0);
    transform: translate3d(-140px,0,0);
  }
}

@media all and (max-width:140px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(140px,0,0);
    transform: translate3d(140px,0,0);
  }

  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(-140px,0,0);
    transform: translate3d(-140px,0,0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}