.grayBox {
	display: block;
	background:$gray;
	padding:20px 30px;
	box-sizing: border-box;
	margin-bottom:30px;
	
	h2 {
		@include font($league);
		font-size: 2.4em;
		width: 100%;
		display: block;
		text-align: center;
		text-transform: uppercase;
		margin:0 0 5px 0;
	}
	
	p strong em {
		text-align: center;
		width: 100%;
		display: block;
		margin:0 0 10px 0;
		font-style: italic;
	}
	
	p {
		line-height: 1.4em;
		margin-bottom:10px;
	}
	
	ul {
		display: block;
		padding-left:6%;
		
		li {
			list-style: none;
			position: relative;
			margin-bottom:5px;
			line-height: 1.4em;
			
			&:before {
				content: '\2022';
			  font-size: 17px;
			  position: absolute;
			  top:0;
			  left:-12px;
			}
		}
	} 
	
	p + ul {
		margin-top:-5px;
	}
} // .grayBox

// city links
.cityLinks {
	width: 100%;
	min-height: 160px;
	
	a {
		@include span(1 of 5 nest);
		background:blue;
		box-sizing: border-box;
		text-align: center;
		@include transition();
		position: relative;
		
		@include breakpoint(mobile) {
			@include span(1 of 2 nest);
		}
		
		img {
			display: inline-block;
			max-width: 100%;
			margin:auto;
			position: relative;
			z-index: 1;
			display: block;
		}
		
		&:before {
			content:'';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			background:rgba(#fff, 0);
			z-index: 2;
			@include transition();
		}
			
		&:hover:before {
			background:rgba(#fff, 0.15);
		}
	} // a
} // .cityLinks

h2.company {
	@include font($league);
	text-transform: uppercase;
	font-size: 2em;
	margin:30px 0 10px 0;
}

.companies {
	display: block;
	position: relative;
	
	.row {
		width: 100%;
		display: block;
		margin-bottom:4px;
	}
	
	$leftCol: 20%;
	$rightCol: 100 - $leftCol - 4;

	$colOffset: (
		desktop: 5,
		narrow: 10,
		narrower: 15,
		mobile: 5
	);
	
	.left {
		width: $leftCol;
		float: left;
		display: inline-block;
		text-align: right;
	}
	
	.right {
		width: $rightCol;
		float: right;
		display: inline-block;
	}
	
	.left, .right {
		font-size: .9em;
		line-height: 1.2em;
	}
	
	.header {
		border-bottom:1px solid #000;
		text-transform: uppercase;
		display: block;
		padding-bottom:2px;
		margin-bottom:4px;
		
		span {
			font-weight: bold;
			font-size: .9em;
		}
	}
	
	.lineVert {
		position: absolute;
		top:0;
		left:$leftCol + 1.5;
		height: 100%;
		width: 1px;
		background:#000;
	}
	
	@include breakpoint(desktop) {
		.left {
			width: $leftCol + map-get($colOffset, desktop);
		}
		
		.right {
			width: $rightCol - map-get($colOffset, desktop);
		}
		
		.lineVert {
			left:$leftCol + map-get($colOffset, desktop) + 1.5;
		}
	}
	
	@include breakpoint(narrow) {
		.left {
			width: $leftCol + map-get($colOffset, narrow);
		}
		
		.right {
			width: $rightCol - map-get($colOffset, narrow);
		}
		
		.lineVert {
			left:$leftCol + map-get($colOffset, narrow) + 1.5;
		}
	}
	
	@include breakpoint(narrower) {
		.left {
			width: $leftCol + map-get($colOffset, narrower);
		}
		
		.right {
			width: $rightCol - map-get($colOffset, narrower);
		}
		
		.lineVert {
			left:$leftCol + map-get($colOffset, narrower) + 1.5;
		}
	}
	
	@include breakpoint(mobile) {
		.left {
			width: $leftCol + map-get($colOffset, mobile);
		}
		
		.right {
			width: $rightCol - map-get($colOffset, mobile);
		}
		
		.lineVert {
			left:$leftCol + map-get($colOffset, mobile) + 1.5;
		}
	}
} // .companies


// news 
.news {
	display: block;
	position: relative;
	margin-top:30px;
	
	h2 {
		margin-bottom:0;
	}
	
	.news-content {
		background:rgba($gray, .3);
		padding:20px;
		box-sizing: border-box;
		display: block;
		
		p {
			font-size: .95em;
			line-height: 1.5em;
			
			
			&:last-child {
				margin-bottom:0;
			}
		}
	}
}

// charts
[class^="chart-"] {
	display: block;
	margin-bottom:40px;
	
	iframe {
		width: 100%;
		
		@include breakpoint(mobile) {
			max-width: 100% !important;
		}
	}
	
	h2 {
		font-size: 1.8em;
		color:#000;
		margin:0;
		border-bottom-color:rgba(#000, 0.25) !important;
		
		span {
			font-style: italic;
			margin-right:5px;
			font-size: 1.3em;
		}
	}
}