@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/league-gothic/LeagueGothic-Regular.eot');
	src: url('../fonts/league-gothic/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-gothic/LeagueGothic-Regular.woff2') format('woff2'),
		url('../fonts/league-gothic/LeagueGothic-Regular.woff') format('woff'),
		url('../fonts/league-gothic/LeagueGothic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League Gothic Condensed';
	src: url('../fonts/league-gothic/LeagueGothic-CondensedRegular.eot');
	src: url('../fonts/league-gothic/LeagueGothic-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-gothic/LeagueGothic-CondensedRegular.woff2') format('woff2'),
		url('../fonts/league-gothic/LeagueGothic-CondensedRegular.woff') format('woff'),
		url('../fonts/league-gothic/LeagueGothic-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League Gothic Italic';
	src: url('../fonts/league-gothic/LeagueGothic-Italic.eot');
	src: url('../fonts/league-gothic/LeagueGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-gothic/LeagueGothic-Italic.woff2') format('woff2'),
		url('../fonts/league-gothic/LeagueGothic-Italic.woff') format('woff'),
		url('../fonts/league-gothic/LeagueGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'League Gothic Condensed Italic';
	src: url('../fonts/league-gothic/LeagueGothic-CondensedItalic.eot');
	src: url('../fonts/league-gothic/LeagueGothic-CondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-gothic/LeagueGothic-CondensedItalic.woff2') format('woff2'),
		url('../fonts/league-gothic/LeagueGothic-CondensedItalic.woff') format('woff'),
		url('../fonts/league-gothic/LeagueGothic-CondensedItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
