.homeBanner {
	width: 100%;
	height: auto;
	padding:15px 0 15px 0;
	background:#B20837;
	display: block;
	box-shadow: 0 1px 4px rgba(#000, 0.5);
	@include transition;
	margin:0 0 30px 0;

	
	&.offScreen {
		margin-top:-60px;
		box-shadow: none;
	}
	
	.center {
		max-width: 1100px;
		margin:0 auto;
		display: block;
		//padding-right:40px;
		box-sizing: border-box;
		position: relative;
		
		@include breakpoint(desktop) {
			max-width: 80%;
		}
		
		@include breakpoint(mobile) {
			max-width: 90%
		}
	} // .center
	
	p {
		margin-bottom:0;
		padding:0;
		color:#fff;
		font-size: .85em;
		line-height: 1.3em;
		
		@include breakpoint(mobile) {
			font-size: .8em;
			line-height: 1.5em;
		}
	} // p
	
	a {
		font-weight: bold;
		text-decoration: underline;
		color:#fff;
		@include transition();
		
		&:hover {
			color:$yellow;
		}
	} // a
	
	a.close {
		position: absolute;
		height: 20px;
		width: 20px;
		background:$yellow;
		top:0;
		right:5px;
		padding:3px;
		@include transition();
		
		&:hover {
			background:lighten($yellow, 5%);
		}
		
		img {
			max-width: 100%;
			display: block;
		}
	}
} // .homeBanner


// carousel
.carousel {
	width: 100%;
	height: auto;
	display: block;
	
	&> img {
		display: block;
		max-width: 100%;
		border-bottom:4px solid $yellow;
	}
	
	&> a.noSlide {
		display: block;
		height: 100%;
		width: 100%;
		border-bottom:4px solid $yellow;
		
		img {
			max-width: 100%;
			display: block;
		}
	}
	
	.slides {
		display: block;
		
		span {
			display: block;
			height: 100%;
			width: 100%;
		}
		
		a {
			display: block;
			height: 100%;
			width: 100%;
			background:blue;
		}
	} // .slides
	
	
	
	$sliderNavHeight: 24px;
	$paginationSize: 12px;
	
	.sliderNav {
		width: 100%;
		height: $sliderNavHeight;
		display: block;
		background:$yellow;
		
		.pagination {
			height: $sliderNavHeight;
			width: auto;
			float: left;
			margin:0 0 0 1%;
			
			div {
				float: left;
				display: block;
				height: 100%;
				width: auto;
				margin:0 8px 0 0;
				
				span {
					height: $paginationSize;
					width:  $paginationSize;
					border-radius:  $paginationSize;
					background:#464646;
					display: block;
					margin-top:($sliderNavHeight - $paginationSize) / 2;
					@include transition(.1s all linear);
					cursor:pointer;
					
					&:hover {
						background:#fff;
					}
				} // span
				
				&.active span {
					background:#000;
				}
			} // div
		}
		
		.navigation {
			height: 100%;
			width: auto;
			float: right;
			margin:0 .5% 0 0;
			
			a {
				height: $sliderNavHeight;
				width: 20px;
				display: block;
				float: left;
				background-position: center center !important;
				text-indent: -9999px;		
			}
		} // .navigation
	}
} // .carousel


.featuredText {
	@include span(2 of 6);
	
	@include breakpoint(mobile) {
		@include span(6 of 6);
	}
	
	h2 {
		@include font($league);
		text-transform: uppercase;
		font-size: 2.2em;
		margin:0;
		
		
		em {
			font-style: normal;
			color:$yellow;
		}
	} // h2
	
	p {
		float: left;
		display: inline-block;
		font-size: 1em;
		line-height: 1.6em;
		
		img {
			float: right;
			display: block;
			clear:left;
			margin:0 0 1% 2%;
			
			&.alignright {
				float: right;
			}
			
			
			&.alignleft {
				float: left;
			}
		}
	}
} // .featuredText