$headerHeight: 106px;

header {
	width: 100%;
	height: $headerHeight;
	background:$purple;
	position: relative;
	
	@include breakpoint(mobile) {
		height: $headerHeight - 36px;
	}
	
	.logo {
		float: left;
		height: 100%;
		width: 380px;
		margin:0 0 0 3%;
		display: block;
		background-repeat: no-repeat !important;
		background-position: left center !important;
		background-size: contain !important;
		
		@include breakpoint(narrower) {
			width: 300px;
		}
		
		@include breakpoint(mobile) {
			width: 70%;
			padding:0 0 5px 0;
			margin-left:15%;
			background-position: center center !important;
		}
	}
	
	h1 {
		color:$yellow;
		float: right;
		line-height: $headerHeight;
		margin:0 3% 0 0;
		text-align: right;
		font-size: 4.2em;
		@include font($league);
		text-transform: uppercase;
		
		&.lower {
			text-transform: none;
		}
		
		@include breakpoint(narrower) {
			font-size: 3em;
		}
		
		@include breakpoint(mobile) {
			position: absolute;
			top:$headerHeight - 36px;
			right:1%;
			font-size: 1.8em;
			line-height: normal;
		}
	} // h1
} // header



.text {
	@include span(4 of 6);
	min-height: 200px;
	display: block;
	
	&.full {
		@include span(6 of 6);
	}
	
	@include breakpoint(mobile) {
		@include span(6 of 6);
	}
	
	h2 {
		@include font($league);
		font-size: 2.4em;
		text-transform: uppercase;
		color:$purple;
		border-bottom:3px solid $purple;
		line-height: 1.1em;
		margin:0 0 10px 0;
		
		&.lower {
			text-transform: none;
		}
	}
	
	p {
		font-size: 1em;
		line-height: 1.6em;
	}
	
	img {
		max-width: 100%;
		display: block;
	}
	
	iframe {
		max-width: 100%;
		
	}
} // .text


// management (about template)
.management {
	display: block;
	margin:30px 0;
	
	.bio {
		img {
			float: left;
			display: block;
			margin:0 10px -5px 0;
		}
		
		h3 {
			@include font($league);
			color:$purple;
			font-size: 2.4em;
			margin:0;
		}
		
		h4 {
			@include font($league);
			color:#000;
			margin:0 0 2px 0;
			font-size: 1.4em;
		}
		
		a.email {
			@include font($league);
			color:$yellow;
			text-decoration: none;
			font-size: 1.4em;
			margin:0 0 10px 0;
			display: inline-block;
			@include transition();
			
			&:hover {
				color:$gray;
			}
		}
	}
} // .management


// news list (news template)
.newsList {
	display: block;
	
	.newsItem {
		display: block;
		width: 100%;
		margin:10px 0 20px 0;
		padding:20px 30px 40px 0;
		box-sizing: border-box;
		border-bottom:2px solid $purple;
		
		@include breakpoint(mobile) {
			padding:20px 0 0 0;
		}
		
		&:last-child {
			border-bottom:none;
		}
		
		.title {
			@include font($league);
			font-size: 1.7em;
			color:$yellow;
			text-decoration: none;
			margin:0 0 20px 0;
			display: block;
			@include transition();
			max-width: 80%;
			position: relative;
			
			@include breakpoint(mobile) {
				width: 100%;
				margin-top:20px;
			}
			
			&:hover {
				color:$gray;
			}
			
			span {
				position: absolute;
				top:0;
				left:106%;
				
				@include breakpoint(mobile) {
					left:0;
					top:-24px;
					color:$gray;
					font-size: .7em;
				}
			}
		} // a.title
		
		.source {
			font-style: italic;
			font-size: .85em;
		}
		
		.desc {
			p {
				line-height: 1.5em;
			}
			
			a {
				color:$yellow;
				@include transition();
				text-decoration: none;
				
				&:hover {
					color:$gray;					
				}
			}
		}
		
		.readMore {
			color:$yellow;
			font-style: italic;
			text-decoration: none;
			@include transition();
			border-bottom:1px solid transparent;
			font-size: .9em;
			
			&:hover {
				border-bottom:1px solid $yellow;
			}
		}
	} // .newsItem
} // .newsList


// contact
$emailLinkHeight: 68px;

.emailLink {
	width: 100%;
	height:$emailLinkHeight;
	background:$purple;
	display: block;
	text-align: center;
	
	@include breakpoint(mobile) {
		height: 40px;
	}

	
	h2 {
		color:#fff;
		height: $emailLinkHeight;
		line-height: $emailLinkHeight + 2;
		border-bottom:none;
		display: inline-block;
		position: relative;
		
		@include breakpoint(mobile) {
			line-height: 43px;
			font-size: 1.8em;
		}
		
		img {
			max-height: 60%;
			display: inline-block;
			position: absolute;
			top:18%;
			right:90%;
			
			@include breakpoint(mobile) {
				max-height: 30px;
				top:5px;
			}
		}
	}
} // .emailLink

.contactInfo {
	display: block;
	width: 100%;
	padding-top:30px;
	
	.contact {
		@include span(1 of 2);
		display: inline-block;
		margin-bottom:30px;
		
		@include breakpoint(mobile) {
			@include span(2 of 2);
		}
		
		img {
			width: 30%;
			float: left;
			margin:0 10px 0 0;
		}
		
		h3 {
			@include font($league);
			display: block;
			font-size: 1.4em;
			margin:5px 0 0 0;
		}
		
		h4 {
			@include font($league);
			display: block;
			margin:0 0 5px 0;
		}
		
		.contactLinks {
			display: block;
			width: 100%;
			height: 30px;
			
			a {
				color:$yellow;
				@include font($league);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.4em;
				position: relative;
				line-height: 32px;
				height: 30px;
				display: inline-block;
				
				&:first-child {
					margin-right:12px;
					
					&:after {
						content:'';
						display:block;
						height: 30px;
						width:3px;
						background: #000;
						position: absolute;
						top:0;
						right:-9px;
					}
				}
			} // a
		} // .contactLinks
	} // .contact
} // .contactInfo