body, html {
	margin:0;
	padding: 0;
	display: block;
	font-size:100%;
	font-family:$baseFont;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  @include breakpoint(mobile) {
  	overflow-x:scroll;
  }
}

body {
	background:#fff;
	overflow-x:hidden;
}

a, a:link {
	transition:.15s all ease;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}



.wrapper {
	max-width:1160px;
	min-height: 100px;
	margin:20px auto;
	display: block;
	
	@include breakpoint(desktop) {
		max-width: 94%;
	}
	
	@include breakpoint(mobile) {
		width: 100%;
		max-width: 100%;
		margin-top:0;
	}
}


.content {
	@include container;
	display: block;
	min-height: 400px;
	margin:40px 0;
	
	@include breakpoint(mobile) {
		margin-top:0;
		padding:0 4%;
		margin-top:30px;
	}
}


footer {
	width: 100%;
	display: block;
	margin:20px 0 50px 0;
	
	@include breakpoint(mobile) {
		width: 92%;
		margin:20px auto 40px auto;
	}
	
	.ticker {
		width: 100%;
		height: 50px;
		display: block;
		border-top:2px solid $purple;
		padding-top:5px;
	}
} // footer


// modal popup
#modal {
	min-height: 200px;
	width: 40vw;
	display: block;
	margin:0 auto;
	background:#fff;
	box-sizing: border-box;
	padding:30px;
	text-align: center;
	border-radius: 4px;
	
	@include breakpoint(mobile) {
		width: 96vw;
	}
	
	p {
		line-height: 1.5em;
	}
	
	a {
		text-decoration: none;
		color:$purple;
		font-weight: bold;
	}
	
	.buttons {
		width: 100%;
		height: auto;
		display: block;
		padding:20px 0;
		
		a {
			background:$purple;
			color:#fff;
			text-align: center;
			padding:10px 15px;
			text-decoration: none;
			margin:0 15px 0 0;
			border-radius: 2px;
			@include transition();
			
			&:last-child {
				margin-right:0;
			}
			
			&:hover {
				background:$yellow;
			}
		} // a
	}
}