$navHeight: 44px;

// main nav
nav.main {
	width: 100%;
	height: $navHeight;
	display: block;
	
	@include breakpoint(mobile) {
		background:$purple;
	}
	
	ul {
		display: block;
		margin:0;
		
		@include breakpoint(mobile) {
			display: none;
		}
		
		li {
			float: left;
			display: block;
			width: 20%;
			height: $navHeight;
			position: relative;
			
			&:after {
				content:'';
				display: block;
				position: absolute;
				top:10%;
				right:0;
				height: 80%;
				width: 1px;
				background:#fff;
			}
			
			&:last-child:after {
				display: none;
			}
		}
		
		a {
			color:#fff;
			background:$purple;
			@include font($league);
			text-align: center;
			display: block;
			width: 100%;
			height: $navHeight;
			text-decoration: none;
			font-size: 1.25em;
			padding:0;
			line-height: $navHeight;
			text-transform: uppercase;
			letter-spacing: .02em;
			@include transition();
			
			&:hover {
				background:rgba($yellow, .5);
				color:$purple;
			}
			
			em {
				font-style: normal;
				text-transform: none;
			}
			
			@include breakpoint(narrow) {
				font-size: 1.1em;
			}
			
			@include breakpoint(narrower) {
				font-size: 1em;
			}
		} // a
		
		span.arrow {
			display: block;
			height: $navHeight;
			width: 18px;
			background: url('../webimages/arrow-down-white.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top:0;
			right:3%;
		}
		
		// submenu
		ul.sub {
			display: none;
			width: 100%;
			height: auto;
			background:red;
			position: absolute;
			top:100%;
			left:0;
			z-index: 1000;
			box-shadow: -2px 2px 4px rgba(#000, 0.25);
			border-top:5px solid $yellow;
			
			li {
				width: 100%;
				height: auto !important;
				float: none;
				
				&:after {
					display: none;
				}
				
				a {
					font-family: $baseFont;
					font-weight: bold;
					text-transform: uppercase;
					font-size: .85em;
					text-align: left;
					padding:7px 14px;
					box-sizing: border-box;
					height: 100%;
					line-height: normal;
					border-bottom:1px solid $gray;
					
					&:hover {
						background:$yellow;
						color:#fff;
					}
				}	
			} // li
			
			&:hover {
				display: block;
			}
		} // ul.sub
		
		a:hover + ul.sub {
			display: block;
		}
	} // ul
	
	.mobileNavLink {
		height: $navHeight;
		line-height: $navHeight + 2;
		width: auto;
		float: left;
		position: relative;
		padding-left:$navHeight;
		margin-left:2%;
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .9em;
		display: none;
		background:$purple;
				
		img {
			max-height: 100%;
			float: left;
			position: absolute;
			top:10px;
			left:10px;
			width: $navHeight - 20;
		}	
		
		@include breakpoint(mobile) {
			display: block;
		}
	} // .mobileNavLink
} // nav

// mobile menu
nav#menu {
	&.pageLoad {
		visibility: none;
		display: none;
	}
}


// interior nav (after header)
header + nav.main {
	li:after {
		background:#000;
	}
	
	a {
		background:#fff;
		color:#000;
	}
	
	span.arrow {
		background: url('../webimages/arrow-down-black.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	
	ul.sub a:hover {
		background:$gray !important;
		color:#000 !important;
	}
}



