html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


// http://meyerweb.com/eric/tools/css/reset/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}


// http://css-tricks.com/snippets/css/clear-fix/
.group:after {
  content: "";
  display: block;
  clear: both;
}


.visuallyhidden {  
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.hidden {
	display: none; 
	visibility: hidden;
}



// box sizing 
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


// Vanilla CSS 1.0.2
//http://noscope.com/vanilla-css/  
body {}
pre, code, tt {font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;}
h1, h2, h3, h4, h5, h6, b, strong {font-weight: bold;}
em, i, dfn {font-style: italic;}
dfn {font-weight:bold;}
p, code, pre, kbd {margin:0 0 1.5em 0;}
blockquote {margin:0 1.5em 1.5em 1.5em;}
cite {font-style: italic;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
ol ol {list-style: upper-alpha;}
ol ol ol {list-style: lower-roman;}
ol ol ol ol {list-style: lower-alpha;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom: 1px dotted;}
address {margin:0 0 1.5em;font-style:italic;}
del {text-decoration: line-through;}
pre {margin:1.5em 0;white-space:pre;}
img {/*max-width: 100%;*/border:none;} /* max-width:100% causing google map zoom slider to mess up */



// FONT ADJUSTMENTS
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
		body {
		  font-size: 100%;
		}

		body, h1, h2, h3, h4, h5, h6 {
		  font-size-adjust: 0.5;
		}

		/* Body Content */

		#page {
		  font-size: 1em;
		  /* equivalent to 16px */
		  line-height: 1.25;
		  /* equivalent to 20px */
		}

		@media (min-width: 43.75em) {
		  #page {
		    font-size: 1em;
		    /* equivalent to 16px */
		    line-height: 1.375;
		    /* equivalent to 22px */
		  }
		}


//
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

// H1
	h1 {
	  font-size: 2em;
	  /* 2x body copy size = 32px */
	  line-height: 1.25;
	  /* 45px / 36px */
	}

		@media (min-width: 43.75em) {
		  h1 {
		    font-size: 2.5em;
		    /* 2.5x body copy size = 40px */
		    line-height: 1.125;
		  }
		}

		@media (min-width: 56.25em) {
		  h1 {
		    font-size: 3em;
		    /* 3x body copy size = 48px */
		    line-height: 1.05;
		    /* keep to a multiple of the 20px line height 
		    and something more appropriate for display headings */
		  }
		}


// H2
	h2 {
	  font-size: 1.625em;
	  /* 1.625x body copy size = 26px */
	  line-height: 1.15384615;
	  /* 30px / 26px */
	}

		@media (min-width: 43.75em) {
		  h2 {
		    font-size: 2em;
		    /* 2x body copy size = 32px */
		    line-height: 1.25;
		  }
		}

		@media (min-width: 56.25em) {
		  h2 {
		    font-size: 2.25em;
		    /* 2.25x body copy size = 36px */
		    line-height: 1.25;
		  }
		}


// H3 
	h3 {
	  font-size: 1.375em;
	  /* 1.375x body copy size = 22px */
	  line-height: 1.13636364;
	  /* 25px / 22px */
	}

		@media (min-width: 43.75em) {
		  h3 {
		    font-size: 1.5em;
		    /* 1.5x body copy size = 24px */
		    line-height: 1.25;
		  }
		}

		@media (min-width: 56.25em) {
		  h3 {
		    font-size: 1.75em;
		    /* 1.75x body copy size = 28px */
		    line-height: 1.25;
		  }
		}



// H4 
	h4 {
	  font-size: 1.125em;
	  /* 1.125x body copy size = 18px */
	  line-height: 1.11111111;
	}

		@media (min-width: 43.75em) {
		  h4 {
		    line-height: 1.22222222;
		    /* (22px / 18px */
		  }
		}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background:#fff !important;
}


// BLOCKQUOTE
	blockquote {
	  font-size: 1.25em;
	  /* 20px / 16px */
	  line-height: 1.25;
	  /* 25px / 20px */
	}

		@media (min-width: 43.75em) {
		  blockquote {
		    font-size: 1.5em;
		    /* 24px / 16px = */
		    line-height: 1.45833333;
		    /* 35px / 24px */
		  }
		}


		
// EXPLICIT SETTING OF HEADINGS - chrome UA style override
h1{
  display: block;
  font-size: 2em;
  margin: .67em 0 .67em 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0 .83em 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0 1em 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin: 1.33em 0 1.33em 0;
  font-weight: bold;
}
