.sidebar {
	display: block;
	@include span(2 of 6);
	
	@include breakpoint(mobile) {
		@include span(6 of 6);
		margin-bottom:30px;
	}
	
	img {
		max-width: 100%;
		display: block;
	}
	
	.logo {
		display: block;
		margin:0 0 30px 0;
		
		@include breakpoint(mobile) {
			display: none;
		}
	}
	
	.mission {
		text-align: center;
		background:lighten($gray, 5%);
		box-sizing: border-box;
		padding:18px;
		margin:0 0 30px 0;
		
		h2 {
			font-size: 2.2em;
			margin:0 0 5px 0;
			@include font($league);
			text-transform: uppercase;
		}
		
		p {
			display: inline-block;
			font-size: 1em;
			line-height: 1.4em;
			margin-bottom:10px;
		}
		
		.leaf {
			display: block;
			width: 100%;
			height: 50px;
			background-repeat: no-repeat !important;
			background-size: contain !important;
			background-position: center center !important;
		}
	} // .mission
	
	.etfLink {
		display: block;
		@include font($league);
		text-transform: uppercase;
		text-decoration: none;
		color:#000;
		text-align: center;
		font-size: 2.2em;
		@include transition();
		
		img {
			display: block;
			margin:0 auto;
			@include transition();
		}
		
		&:hover {
			color:#8A7A94;
			
			img {
				opacity: .5;
			}
		}
		
		&:focus {
			outline: none;
		}
	} // .etfLink

	
	.textBox {
		margin:20px 0 0 0;
		float: left;
		
		p {
			margin:0 0 10px 0;
		}
		
		strong {
			color:$yellow;
			@include font($league);
			font-size: 2.3em;
			text-transform: uppercase;
		}
		
		ul {
			display: block;
			margin:10px 0 0 0;
			
			li {
				display: block;
				width: 100%;
				margin:0 0 10px 0;
			}
		}
	} // .textBox
	
	.textLink {
		background:lighten($gray, 5%);
		color:$yellow;
		@include font($league);
		text-decoration: none;
		text-align: center;
		width: 100%;
		padding:10px;
		display: block;
		font-size: 2.4em;
		margin: 0 0 30px 0;
	} // .textLink

	
	// email subscribe form 
	.emailForm {
		width: 100%;
		background:rgba($yellow, 0.5);
		padding:20px;
		box-sizing: border-box;
		
		
		h3 {
			color:$purple;
			@include font($league);
			width: 100%;
			text-align: center;
			font-size: 2.4em;
			margin:0 0 10px 0;
			text-transform: uppercase;
		}
		
		p {
			width: 100%;
			text-align: center;
			font-weight: bold;
			font-size: .8em;
			line-height: 1.5em;
			padding:0 3%;
			box-sizing: border-box;
		}
		
		label {
			width: 100%;
			display: block;
			color:$purple;
			font-size: .7em;
			font-weight: bold;
			margin:0 0 3px 0;
		}
		
		input {
			width: 100%;
			height: 34px;
			padding:0 12px;
			box-sizing: border-box;
			outline: none;
			border:1px solid $gray;
			margin:0 0 15px 0;
			border-radius: 2px;
		}
		
		button,
		input[type="submit"] {
			background:$purple;
			width: auto;
			height: auto;
			display: inline-block;
			color:#fff;
			@include font($league);
			outline: none;
			border: none;
			padding:8px 15px;
			border-radius: 4px;
			font-size: 1.2em;
			cursor: pointer;
			@include transition();
			
			&:hover {
				opacity:.9;
			}
		}
	} // .emailForm
	
	// map popup link
	.mapLink {
		display: block;
		width: 100%;
		margin-bottom:30px;
		
		a {
			display: block;
			width: 100%;
			box-sizing: border-box;
			padding:10px;
			@include transition();
			
			&:hover {
				opacity: 0.75;
			}
			
			&:focus {
				outline: none;
			}
		} // a
		
		p {
			width: 100%;
			display: block;
			font-style: italic;
			text-align: center;
			font-size: .8em;
			color:rgba(#000, 0.5);
		}
	}
} // .sidebar