// ninja forms
.ninja-forms-required-items {
	display:none;
}

.ninja-forms-cont .hp-wrap {
	display: none;
}

.field-wrap, #ninja_forms_required_items {
	margin-bottom: 0 !important;
}

.ninja-forms-response-msg {
	div {
		display: block;
		width: 100%;
		background:#B71C1C;
		color:#fff;
		padding:8px;
		margin-bottom:10px;
		box-sizing: border-box;
		font-size: 1em;
		line-height: 1.3em;
	}	
}

.ninja-forms-field-error {
	width: 100%;
	background:#B71C1C;
	color:#fff !important;
	margin-top:-12px;
	margin-bottom:16px;
	
	p {
		padding:5px 0 !important;
		margin:0;
	}
}

// nav selected-state fix
nav ul li.current-menu-item a,
body.page-template-page_cities nav ul > li.cities > a,
body.single-cities nav ul > li.cities > a {
	background: rgba($yellow, 0.5);
	color:$purple;
}

